html {
	background-image:url(greengrass.jpg); 	  
}
h2 {
	text-align:center;
	color:white;
	margin-top:-5cm;
	font-family:sans-serif; 
	font-size:23px;  
}
h1 {
	margin-top:-2cm;
} 
header {
	color:white;
	font-size:52px;
	font-family:sans-serif;
	letter-spacing:-3px;  
} 
article {
	border-color:white;
	border-style: solid; 
	margin-left:12cm; 
	margin-right:15.3cm;
	color:white; 
	font-family:sans-serif;
	background-color:black; 
} 
h3,h4 {
	color:white;
	font-family:sans-serif;
} 
ul {
	color:white;
	font-family:sans-serif; 
	margin-top:-2px; 
	font-weight: bold; 
	letter-spacing:2px;
	margin-bottom:-0.5cm;
}  
h {
	text-align:center; 
	color:white; 
	margin-left:15.5cm;
	font-family:sans-serif; 
	font-size:30px; 
	font-weight: bold;  
} 
p {
	font-family:sans-serif;
	font-size:20px;
	color:white; 
	font-weight: bold; 
} 
p1 {
	font-size:30px;
	font-family:sans-serif;
	color:white; 
	font-weight: bold; 
} 
footer {
	color:white;
	font-family:sans-serif italic;
	padding-top:2cm; 
} 
h5 {
	color:white;
	font-size:100px;
	font-family:sans-serif;
	letter-spacing:1px; 
	margin-top:-20cm;
	letter-spacing:-3px;  
	padding-bottom:6cm;
	font-weight: bold; 
} 	
main nav {
	padding-top:1cm;
} 
 main {
	color:white;
} 

