
html {
	background-image:url("http://wallpapercave.com/wp/Pr9hNhy.jpg");
} 
h1 {
	color:black;
	font-variant:small-caps;
	font-size:50px; 
	background:gray; 
	margin-right:30cm; 
} 
nav {
	font: italic 15px Georgia; 
	color:white;
} 
h1,h2 {
	

