html {
	background-color:gray;
}
h1 { 
	font-family:Arial; 
	color:black; 
	font-size: 35px; 
	text-align:center;
	font-weight:bold; 
	font-variant:small-caps;    	     
} 
nav {
	font-size:30px;
	text-align:center;
	font-family:;
	font-variant:small-caps;  
}
p {
	background-color:white;
	color:39363;
	font-family:monospace;
	font-style:oblique;
	font-weight:normal; 
} 
	
