html {
	background-color:gray; 
}
h1 { 
	color:black; 
	font-size:50px; 
	text-align:center; 
	font-variant:small-caps;
	letter-spacing:-1px;
	text-decoration:underline;
	text-shadow:1px 1px white;     	     
} 
nav {
	font-size:30px;
	text-align:center;
	font-variant:small-caps;
	text-shadow:1px 1px white; 
	border:1px solid white;
}
p {
	color:39363;
	font: italic bold 20px Georgia;
	font-variant:small-caps; 
	border:1px solid white;  	
}

