html {
	background-color:Red;
} 
header {
	Background-color: Blue;
} 
h1 {
	color:yellow; 
} 
p1 {
	color:white; 
}
nav {
	color:black;
	background-color:red; 
} 
main {
	background-color:white;
} 
footer {
	background-color:blue;
} 
